/********* BARRA DE NAVEGACION*************/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container{
    width: 90%;
    margin: 0 auto;
    
}

nav{
    width: 70%;
    text-align: center;
}

nav > ul >li{
    display: inline-block;
    text-align: center;
    margin: 14px;
    font-family: "sans-serif";
    font-size: 20px;
    color:#025157;
}

nav > ul >li > a{
    text-decoration:none;
    color: #025157;
}

.actions{
    width: 15%;
}

.actions > *{
    padding: 10px;
    text-decoration:none;
}

.actions > button:hover{
    background-color: lightgreen;
}

#logo{
    width: 15%;
}

button{
    font-family: "sans-serif";
    color: white;
    background-color: #025157;
    border-radius: 12px;
    padding: 10px;
    text-decoration:none;
    font-size: 14px;
}

.actions > a{
    color: #025157;
}

body{
    font-family: 'IBM Plex Sans';
    text-align: center;
    background-image: url("https://image.freepik.com/vector-gratis/fondo-degradado-tonos-verdes_23-2148382072.jpg");
    background-size: cover;
    font-weight: 400;
    font-size: 18px;
    color: #4a4a4a;
    
}
/******************* PRESENTACION Y VIDEO *********************/
.home-intro-title{
    font-family: "vesterbroextrabold";
    font-weight: 700!important;
    line-height: 63px;
    font-size: 68px;
    text-align: left;
    letter-spacing: -3px;
    color: #025157;
    max-width: 560px;
    margin-bottom: 24px;
}

.home-intro-text p{
    width: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    font-size: 20px;
    color: #46484c;
    margin-bottom: 30px;
    text-align: left;
}

.cta-btn{
background-color: #67b54b;
color: #fff;
margin-bottom: 1em;
transition: all .2s ease-in-out;
border-radius: 5px;
text-decoration: none;
padding: 10px 24px;
}

.explanatory-video {
display: flex;
flex-direction: column;
align-items: center;
padding: 0 500px 0 0;
}

.container-video{
    padding: 0 0 0 700px;
}

.container-video{grid-area: header;}
.explanatory-video{grid-area: menu;}

.grid-container{
    display: grid;
    grid-template-areas: 
        'header menu'   
    ;

    gap: 10px;
    padding: 100px;
}
/*************** LOGOS *************************/
.logos__cont__inn .logos__img{
    padding: 0 50px;
}
/**************** TOP FEATURES ************************/
.container{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    align-items: flex-start; 
    width: 45%;
    height: 100%;
    /*background: rgb(228, 212, 220);*/
    margin-top: 80px;

    }

    .item{
    
        background-color: rgb(255, 255, 255);
        width:30%;
        height: 200px;
        align-items: center;
    
    }
    
    .item > *{
        font-family: arial;
        font-style: normal;
        text-align: center;
    }
/**************** MENU DE 4 ***********************/
.features {
    /*background-color: #025157;*/
    padding: 3% 32%;
    display: grid;
    grid-template: repeat(2, 300px) / repeat(2, 600px);
 
  }
  
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #025157;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  /**------------------------------------------------*/
  .feature-card-1{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-image: url("https://getmatcha.com/wp-content/themes/getmatcha/img/gfx/blocks/masters.jpg");
    /*background-color: #025157;*/
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .feature-card-1 h3{
    font-size: 50px;
    font-family: "vesterbroextrabold";
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #fff;
    line-height: 1em;
    display: inline-block;
    margin-bottom: 8px;
    text-indent: 70px;

  }

  .feature-card-1 span{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
/**------------------------------------------------*/
  .feature-card-2{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #ffffff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .feature-card-2 div{
    font-size: 34px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #025157;
    font-family: 'IBM Plex Sans';
    font-weight: 400;
  }

  .feature-card-2 .block__text{
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'IBM Plex Sans';
    color: #000000;
    
  }

  .feature-card-2 a{
    font-size: 18px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
    font-family: 'IBM Plex Sans';
  }
  .feature-card-2 img{
    max-width: 190px;
    height: auto;
  }
  
  /**------------------------------------------------*/
  .feature-card-3{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #e8f09f;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .feature-card-3 p{
    color: #135359;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 500;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 0 0 100px;
  }

  .feature-card-3 a{
    color: #135359;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
  }

  .feature-card-3 img{
    padding: 0 0 0 100px;
  }
/**------------------------------------------------*/
    .feature-card-4{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;

    background-color: #035157;
    background-image: url(https://getmatcha.com/wp-content/themes/getmatcha/css/../img/gfx/blocks/toolkit.jpg);
    background-position: 130% 44%;
    background-size: auto 150%;
    background-repeat: no-repeat;
    }
  
    .feature-card-4 p{
    font-size: 29px;
    max-width: 100%;
    color: #fff;
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 20px;
    }

    .feature-card-4 a{
    padding: 0 0 0 80px;
    color: #41b318;
    text-decoration: none;
    }